{% unless settings.shipping_calculator == 'Disabled' %}

<div class="padded divided">
    {% comment %}<!-- Yi3: Added class `yi3---form-optional`. -->{% endcomment %}
    {% comment %}<!--<div id="shipping-calculator" class="form">-->{% endcomment %}
    <div id="shipping-calculator" class="form yi3---form-optional">
        <h3>{{ settings.shipping_calculator_heading }}</h3>
        
        <div class="inputrow">
            <label for="address_country">Country</label>
            <span class="styleddrop"><select id="address_country" name="address[country]" data-default="{% if shop.customer_accounts_enabled and customer %}{{ customer.default_address.country }}{% elsif settings.shipping_calculator_default_country != '' %}{{ settings.shipping_calculator_default_country }}{% endif %}">{{ country_option_tags }}</select></span>
        </div>
        <div id="address_province_container" class="inputrow" style="display:none;">
            <label for="address_province" id="address_province_label">Province</label>
            <span class="styleddrop"><select id="address_province" class="address_form" name="address[province]" data-default="{% if shop.customer_accounts_enabled and customer and customer.default_address.province != '' %}{{ customer.default_address.province }}{% endif %}"></select></span>
        </div>
        <div class="ziprow">
            <input placeholder="Zip/Postal Code" type="text" id="address_zip" name="address[zip]"{% if shop.customer_accounts_enabled and customer %} value="{{ customer.default_address.zip }}"{% endif %} />
            <input type="button" class="get-rates" value="{{ settings.shipping_calculator_submit_button_label }}" />
        </div> 

        <div id="wrapper-response"></div>
    </div>
</div>

<script id="shipping-calculator-response-template" type="text/x-jquery-tmpl">
  {% raw %}
  <p id="shipping-rates-feedback" class="{{if success}}success{{else}}error{{/if}}">
  {{if success}}
    {{if rates.length > 1}}
    There are ${rates.length} shipping rates available for ${address}, starting at {{html Shopify.Cart.ShippingCalculator.formatRate(rates[0].price)}}.
    {{else}}
      {{if rates.length == 1}}
      There is one shipping rate available for ${address}.
      {{else}}
      We do not ship to this destination.
      {{/if}}
    {{/if}}
  {{else}}
    ${errorFeedback}
  {{/if}}
  </p>
  <ul id="shipping-rates">
    {{each( index, rate ) rates}}
    <li>${rate.name} at {{html Shopify.Cart.ShippingCalculator.formatRate(rate.price)}}</li>
    {{/each}}
  </ul>
  {% endraw %} 
</script>

<script type="text/javascript" charset="utf-8">
//<![CDATA[

// Including jQuery conditionnally.
if (typeof jQuery === 'undefined') {
  document.write({{ "http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js" | script_tag | json }});
  document.write('<script type="text/javascript">jQuery.noConflict();<\/script>');
}

//]]>
</script>

{{ "http://ajax.aspnetcdn.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js" | script_tag }}
{{ "/services/javascripts/countries.js" | script_tag }}
{{ "shopify_common.js" | shopify_asset_url | script_tag }}
{{ "jquery.cart.min.js" | asset_url | script_tag }} 

<script>

Shopify.Cart.ShippingCalculator.show( {
  submitButton: '{{ settings.shipping_calculator_submit_button_label }}', 
  submitButtonDisabled: '{{ settings.shipping_calculator_submit_button_label_disabled }}'{% if shop.customer_accounts_enabled and customer %},
  customerIsLoggedIn: true{% endif %},
  moneyFormat: {{ shop.money_with_currency_format | json }}
} );

</script>

{% endunless %}