        <form action="/cart/add" method="post" enctype="multipart/form-data">
            <div class="productoptions">
                {% if product-block.variants.size > 1 %}
                <div class="row">
                    <label for="{{ quickbuy_block_id }}-product-select_{{ product-block.id }}">
                    {% comment %}<!-- Yi3: Add specificity to id -->{% endcomment %}
                    {% comment %}<!--<label for="product-select_{{ product-block.id }}">-->{% endcomment %}
                        {% if product-block.options.size == 1 %}
                            {{ product-block.options.first }}
                        {% else %}
                            Options:
                        {% endif %}
                    </label>
                    {% comment %}<!-- Yi3: Add specificity to id -->{% endcomment %}
                    {% comment %}<!--<select id="product-select_{{ product-block.id }}" name="id">-->{% endcomment %}
                    <select id="{{ quickbuy_block_id }}-product-select_{{ product-block.id }}" name="id">
                    {% for variant in product-block.variants %}<option value="{{ variant.id }}">{{ variant.title | escape }} - {{ variant.price | money }}</option>{% endfor %}
                    </select>
                </div>

                {% assign no_style_wrap = true %}
                {% assign current_product = product-block %}
                {% include 'product-dropdown-js' with quickbuy_block_id %}
                {% else %}
                {% comment %}<!-- Yi3: Don't show title of single option -->{% endcomment %}
                {% comment %}<!-- http://cleanthemes.co.uk/masonry/hide-the-single-option-when-its-not-really-necessary/ -->{% endcomment %}
                {% comment %}<!--<div class="row">{{ product-block.variants.first.title }}</div>-->{% endcomment %}
                <input type="hidden" name="id" value="{{ product-block.variants.first.id }}" />
                {% endif %}

                <div class="row quantityrow">
                    <label for="quantity_{{ product-block.id }}">Quantity:</label>
                {% comment %}<!-- Yi3: Add `type="number"` -->{% endcomment %}
                {% comment %}<!--<input value="1" size="2" name="quantity" id="quantity_{{ product-block.id }}" />-->{% endcomment %}
                    <input type="number" value="1" size="2" name="quantity" id="quantity_{{ product-block.id }}" />
                </div>
                {% comment %}<!-- Yi3: Move `.buttoncontainer` into `.productoptions` -->{% endcomment %}
                <div class="buttoncontainer">
                    <p class="price"></p>
                    <input type="submit" name="add" id="add-to-cart" value="{{ settings.text_addtocart }}" />
                </div>
            </div>
        </form>