<script>
  var itemClass = '.delivery',
      anyTimeRange = {{ any_time_range }},
      asapTimeRange = '{{ asap_time_range }}'
      freePreOrder = {% if settings.date_picker_free_preorder == 'Enabled' %}true{% else %}false{% endif %},
      doDeliveryTimePrice = {% if settings.date_picker_pricing == 'Enabled' %}true{% else %}false{% endif %},
      deliveryItem = {
        'isInCart': {{ delivery_item_in_cart }},
        'id': {{ delivery_item_in_cart_id }}
      },
      deliveryTime = {
        'value': '{{ cart.attributes.delivery_time_choice }}'
      },
      workdayStart = {
        'hours': {{ settings.date_picker_time_workday_start }}
      };

  /*
   * Yi3 THEMES: "HAPPY"
   */

  if (Yi3 === undefined || Yi3.Cart === undefined) {
    var Yi3 = {
      Cart: {
        reloadCart: function () {
          window.location = '/cart';
        }
      }
    }
  }

  /*
   * JQUERY
   */

  jQuery.fn.animateAuto = function(prop, speed, callback){
    var elem = $(),
        height = '',
        width = '',
        ret = $();

    ret = this.each(function(i, el){
      el = jQuery(el),
      elem = el.clone().css({'height':'auto','width':'auto','visibility':'hidden'}).removeAttr('id').appendTo(el.parent());
      height = elem.css('height'),
      width = elem.css('width');
      elem.remove();

      if (prop === 'height') {
        el.animate({'height': height}, speed, callback);
      } else if (prop === 'width') {
        el.animate({'width': width}, speed, callback);  
      } else if (prop === 'both') {
        el.animate({'width': width,'height':height}, speed, callback);
      }
    });

    return ret;
  }

  /*
   * MISCELLANEOUS
   */

  function reloadCartTime () {
    if ( ! doDeliveryTimePrice) {
      return;
    }
    Yi3.Cart.reloadCart();
  }

  function isDeliveryDateToday () {
    var date = getDeliveryDate(),
        dateSelected = new Date(date).setHours(0,0,0,0),
        dateNow = new Date().setHours(0,0,0,0);

    return new Date(date).setHours(0,0,0,0) === new Date().setHours(0,0,0,0);
  }

  function addHours (time, increment, multiplier) {
    return time + ((increment * multiplier) * 1000);
  }

  function repairDelivery () {
    if ( ! doDeliveryTimePrice) {
      return false;
    }

  {% if cart.item_count == 1 and delivery_item_in_cart == true %}

    // Only item in the cart is delivery, so let's unset/remove it.
    console.warn('Only item in cart is delivery. Removing item.');
    unsetDeliveryTime();

  {% elsif cart.item_count > 0 %}

    {% comment %}/* Assume no delivery_item_in_cart until we prove otherwise. */{% endcomment %}
    {% assign delivery_item_in_cart = false %}
    {% for item in cart.items %}
      {% if delivery_item_in_cart == false and item.id == id %}
        {% assign delivery_item_in_cart = true %}

          {% comment %}/* Assume delivery items are not in needs_correction state until we prove otherwise. */{% endcomment %}
          {% assign needs_correction = false %}
          {% comment %}/* Sanity check to see if we don't have many of one delivery items in the cart. */{% endcomment %}
          {% if item.quantity > 1 %}
            {% assign needs_correction = true %}

    // Fix quanitity back to one
    console.warn('Delivery item quantity invalid. Reset back to 1.');
    jQuery('#updates_' + deliveryItem.id).val(1);

          {% endif %}
          {% comment %}/* Sanity check to see if the selectbox has been selected. */{% endcomment %}
          {% unless cart.attributes.delivery_time_range %}

    // Fix values to match cart
    console.warn('Delivery data invalid. Setting to match cart items.');
    jQuery('[name="attributes\[delivery_time_range\]"]').val(deliveryItem.id);

            {% assign needs_correction = true %}
          {% endunless %}
          {% if needs_correction %}

    // Update form to apply fixes
    jQuery('form[action="/cart"]').get(0).submit();

          {% endif %}

      {% endif %}
    {% endfor %}

    {% if cart.attributes.delivery_time_range > anyTimeRange and delivery_item_in_cart == false %}

    // No delivery_item_in_cart, but selectbox is set, so unset its attribute
    unsetDeliveryTimeRangeAttribute();

    {% endif %}
  {% endif %}
  }

  /*
   * INITIALIZE
   */

  function iniDeliveryTime () {
    setDeliveryTimeRadio(deliveryTime.value);

    jQuery('#delivery_time_range').addClass('is-hidden');

    iniDeliveryInCart();
    iniDeliveryTimeChoice();
  }

  function iniDeliveryInCart () {
    jQuery('#updates_' + deliveryItem.id).addClass('is-invisible');  
    jQuery('[for="updates_' + deliveryItem.id + '"]').addClass('is-invisible');
  }

  function iniDeliveryTimeChoice () {
    jQuery('[name="attributes\[delivery_time_choice\]"]').each(function () {
      var date = getDeliveryDate(),
          hours = jQuery(this).val(),
          range = getDeliveryTimeRange(date, hours),
          isToday = isDeliveryDateToday(),
          price = '';

      range = ( ! isToday && freePreOrder) ? anyTimeRange : range;
      price = getDeliveryPrice(range) || price;

      jQuery('#delivery_time_price_' + hours).text(price);

      if ( ! price) {
        jQuery(this).attr('disabled', true);
        jQuery(this).prop('disabled', true);
        jQuery('[for="delivery_time_choice_' + hours + '"]').addClass('is-disabled');

        if (jQuery(this).is(':checked')) {
          jQuery(this).attr('checked', false);
          jQuery(this).prop('checked', false);

          unsetDeliveryTime();
        }
      } else {
        jQuery(this).attr('disabled', false);
        jQuery(this).prop('disabled', false);
        jQuery('[for="delivery_time_choice_' + hours + '"]').removeClass('is-disabled');

        if (jQuery(this).is(':checked')) {
          jQuery(this).trigger('change');
        }
      }
    });
  }

  /*
   * HANDLE
   */

  function handleDeliveryTime () {
    handleDeliveryDateChange();
    handleDeliveryTimeChoiceChange();
    handleDeliveryTimeRangeChange();
    handleDeliveryItemRemoveClick();
    handleDeliveryTimeChoiceAsapChange();
  }

  function handleDeliveryItemRemoveClick () {
    jQuery('#cartform ' + itemClass + ' .remove').on('click', function (event) {
      event.preventDefault();
      unsetDeliveryTime();
    });
  }

  function handleDeliveryDateChange () {
    jQuery('[name="attributes\[delivery_date\]"]').off('change').on('change', function () {
      var date = jQuery(this).val();

      if (setDeliveryDateAttribute) {
        setDeliveryDateAttribute(date, iniDeliveryTimeChoice);
      } else {
        iniDeliveryTimeChoice();
      }
    });
  }

  function handleDeliveryTimeChoiceChange () {
    jQuery('[name="attributes\[delivery_time_choice\]"]').on('change', function () {
      var date = getDeliveryDate(),
          hours = jQuery(this).val(),
          range = getDeliveryTimeRange(date, hours),
          isToday = isDeliveryDateToday(),
          isChange = true;

      range = ( ! isToday && freePreOrder) ? anyTimeRange : range;

      if (jQuery(this).is(':checked')) {
        setDeliveryTimeChoiceAttribute(hours, function () {
          setDeliveryTimeAsapCheckbox(false);
          setDeliveryTimeSelect(range, isChange);
        });
      }
    });
  }

  function handleDeliveryTimeChoiceAsapChange () {
    jQuery('#delivery_time_choice_asap').on('change', function () {
      var isChange = true;

      if (jQuery(this).is(':checked')) {
        setDeliveryTimeRadio('');
        setDeliveryTimeSelect(asapTimeRange, isChange);
      } else {
        unsetDeliveryTime();
      }
    });
  }

  function handleDeliveryTimeRangeChange () {
    jQuery('[name="attributes\[delivery_time_range\]"]').change(function() {
      var option = jQuery(this).find(':selected'),
          id = option.val(),
          range = option.data('range');

      if (id && ! deliveryItem.isInCart) {
        if (range !== anyTimeRange) {
          setDeliveryTimeRangeAttribute(id, function() {
            addDeliveryTimeItem(id);
          });
        }
      } else if (id && deliveryItem.isInCart) {
        if (range !== anyTimeRange) {
          removeDeliveryTimeItem(deliveryItem.id, function() {
            setDeliveryTimeRangeAttribute(id, function() {
              addDeliveryTimeItem(id);
            });
          });
        } else {
          removeDeliveryTimeItem(deliveryItem.id, function() {
            setDeliveryTimeRangeAttribute(id);
          });
        }
      } else {
        unsetDeliveryTime();
      }
   });
  }

  /*
   * GET
   */

  function getNow () {
    var date = new Date();

    return date.getTime();
  }

  function getDeliveryDate () {
    return jQuery('#delivery_date').val();
  }

  function getDeliveryPrice (range) {
    var data = jQuery('[name="attributes\[delivery_time_range\]"] [data-range="' + range + '"]').data();

    return (data) ? data.price : '';
  }

  function getTimeRanges (timeStart, increments, multiplier) {
    var timeRanges = [];
    jQuery.each(increments, function (index, value) {
      timeRanges.push([value, addHours(timeStart, value, multiplier)]);
    });
    return timeRanges;
  }

  function getRangeForTime (timeDesired, timeRanges) {
    var ret = -1;

    timeRanges.sort(function (a, b) {
      return b[1] - a[1];
    });

    jQuery.each(timeRanges, function (index, value) {
      var key = value[0],
          time = value[1];

      if (timeDesired >= time) {
        ret = key;
        return false; // break jQuery.each
      }
    });

    return ret;
  }

  function getWorkdayStartTime () {
    var startHours = workdayStart.hours || 0,
        deliveryDay = new Date(getDeliveryDate()),
        ret = deliveryDay.setHours(startHours,0,0,0);

    return ret;
  }

  function getDeliveryTimeRanges () {
    var nowTime = getNow(),
        isToday = isDeliveryDateToday(),
        workdayStartTime = getWorkdayStartTime(),
        timeStart = (isToday && nowTime > workdayStartTime) ? nowTime : workdayStartTime,
        hours = [8, 6, 4, 2];

    return getTimeRanges(timeStart, hours, 3600);
  }

  function getDeliveryTimeRange (date, hours) {
    var timeDesired = 0,
        timeRanges = getDeliveryTimeRanges();

    date = date ? new Date(date) : new Date();
    timeDesired = new Date(
                    date.getFullYear(),
                    date.getMonth(),
                    date.getDate(),
                    Math.floor(hours)
                  ).getTime();

    return getRangeForTime(timeDesired, timeRanges);
  }

  function getDeliveryItemLine (id) {
    var el = jQuery(id),
        lineEls = jQuery(id).parents('ul').children(),
        parentLineEl = jQuery(id).parents('li'),
        index = lineEls.index( parentLineEl );

    return index + 1;
  }

  /*
   * SET
   */

  function setDeliveryTimeRadio (choice, isChange) {
    var radios = jQuery('[name="attributes\[delivery_time_choice\]"]'),
        radio = jQuery('#delivery_time_choice_' + choice);

    radios.attr('checked', false);
    radios.prop('checked', false);

    if (choice !== '') {
      radio.attr('checked', true);
      radio.prop('checked', true);
    }

    if (isChange) {
      radio.trigger('change');
    }
  }

  function setDeliveryTimeSelect (range, isChange) {
    var select = jQuery('[name="attributes\[delivery_time_range\]"]'),
        options = jQuery('[name="attributes\[delivery_time_range\]"] option');

    options.attr('selected', false);

    if (range !== '') {
      select.val(select.find('[data-range="' + range + '"]').val());
    }

    if (isChange) {
      select.trigger('change');
    }
  }

  function setDeliveryTimeAsapCheckbox (value) {
    var checkbox = jQuery('#delivery_time_choice_asap');

    switch (value) {
      case true:
        checkbox.attr('checked', true);
        checkbox.prop('checked', true);
        break;

      case false:
        checkbox.attr('checked', false);
        checkbox.prop('checked', false);
        break;

      default:
        break;
    }
  }

  function setDeliveryTimeRangeAttribute (id, callback) {
    Shopify.updateCartAttributes({'delivery_time_range':id}, callback || reloadCartTime);
  }

  function setDeliveryTimeChoiceAttribute (hours, callback) {
    Shopify.updateCartAttributes({'delivery_time_choice':hours}, callback || reloadCartTime);
  }

  /*
   * UNSET
   */

  function unsetDeliveryTime () {
    setDeliveryTimeRadio('');
    setDeliveryTimeSelect('');
    unsetDeliveryTimeChoiceAttribute(function(){
      unsetDeliveryTimeRangeAttribute(function(){
        if (deliveryItem.isInCart) {
          removeDeliveryTimeItem(deliveryItem.id);
        }
      });
    });
  }

  function unsetDeliveryTimeChoiceAttribute (callback) {
    Shopify.updateCartAttributes({'delivery_time_choice':''}, callback || reloadCartTime);
  }

  function unsetDeliveryTimeRangeAttribute (callback) {
    Shopify.updateCartAttributes({'delivery_time_range':''}, callback || reloadCartTime);
  }

  /*
   * ADD
   */

  function addDeliveryTimeItem (id, callback) {
    if ( ! doDeliveryTimePrice) {
      if (typeof callback === 'function') {
        callback();
      }
      return;
    }

    Shopify.addItem(id, 1, function () {
      deliveryItem.isInCart = true;
      deliveryItem.id = id;
      if (typeof callback === 'function') {
        callback();
      } else {
        reloadCartTime();
      }
    });
  }

  /*
   * REMOVE
   */

  function removeDeliveryTimeItem (id, callback) {
    if ( ! doDeliveryTimePrice) {
      if (typeof callback === 'function') {
        callback();
      }
      return;
    }

    Shopify.removeItem(id, function () {
      deliveryItem.isInCart = false;
      deliveryItem.id = 0;
      if (typeof callback === 'function') {
        callback();
      } else {
        reloadCartTime();
      }
    });
  }

  /*
   * START
   */

  jQuery(function() {
    repairDelivery();
    iniDeliveryTime();
    handleDeliveryTime();
  });
</script>