{% comment %}<!--
Yi3: Checkout Agreement for Masonry Theme
-->{% endcomment %}

{% unless settings.checkout_agree == 'Disabled' %}
  {% assign agree_set_value = '1' %}

      <div id="checkout-agreement">
        <input id="checkout_agree" type="checkbox" name="attributes[checkout_agree]" value="{{ settings.checkout_agree_value }}" {% if cart.attributes.checkout_agree == settings.checkout_agree_value or cart.attributes.checkout_agree_set != agree_set_value %} checked="checked"{% endif %} />
        <label for="checkout_agree" class="yi3---notice">{{ settings.checkout_agree_label }}</label>
        {% if settings.checkout_agree_message %}
        <div class="finalinfo">
          <p>{{ settings.checkout_agree_message }}</p>
        </div>
        {% endif %}
      </div>
      <script>
      var agreeSetValue = {{ agree_set_value }};

      /*
       * HANDLE
       */

      function handleCheckoutAgreeAttribute () {
        jQuery('[name="attributes\[checkout_agree\]"]').on('click', function () {
          var agreeEl = jQuery(this),
              agreeVal = agreeEl.val(),
              agreeChecked = agreeEl.is(':checked');

          setCheckoutAgreeAttribute(agreeVal, agreeChecked);
        });
      }

      /*
       * SET
       */

      function setCheckoutAgreeAttribute (value, isChecked) {
        value = (isChecked) ? value : '';

        Shopify.updateCartAttributes({'checkout_agree':value});
        Shopify.updateCartAttributes({'checkout_agree_set':agreeSetValue});
      }

      /*
       * START
       */

      jQuery(function() {
        handleCheckoutAgreeAttribute();
      });
      </script>

{% endunless %}